body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: rgb(50, 138, 179);
  }

  .winner-status {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: rgb(243, 106, 32);
  }

  .square {
    background: rgb(207, 184, 195);
    border: 3px solid rgb(255, 255, 255);
    float: left;
    color: rgb(50, 138, 179);
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 94px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
  }

  .game-info {
    margin-left: 20px;
  }
